:root {
  --cor-primary-black: #000000;
  --cor-primary-red: #E53939;
  --cor-primary-white: #FFFFFF;
  --cor-input-bg: #f2f2f2;
  --cor-input-placeholder: #272727;
  --cor-secondary-gray: #f5f5f5;
  --cor-tertiary-gray: #d9d9d9;
  --cor-line: rgba(0,0,0,0.2);
  --cor-border-horizontal-footer: rgba(187, 1, 1, 0.20);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

/****** HEADER ******/

.header--home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.navbar--home {
  background-color: transparent;
}

.navbar--equipe {
  background-color: var(--cor-secondary-gray);
}

#container-ul {
  display: flex;
  font-weight: 600;
  gap: 16px;
}

.btn-white {
  display: flex;
  background-color: #f2f2f2;
  border: none;
  height: 100%;
  padding: 6px 16px;
  color: #e53939;
  transition: background 0.5s;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.btn-white:hover {
  background: #ffa8a7;
}

.btn-black {
  display: flex;
  background-color: black;
  border: none;
  height: 100%;
  padding: 6px 16px;
  color: #f2f2f2;
  transition: background 0.4s;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.btn-black:hover {
  background: #e53939;
}

.logo-img {
  max-width: 80px;
  width: 100%;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  outline: none;
}

.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none;
}

.nav-link {
  color: #000;
}

.nav-link--home {
  color: var(--cor-primary-white);
}

.nav-link:hover {
  color: var(--cor-primary-red);
}

.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:focus-visible,
.navbar-toggler:visited {
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar-toggler:focus {
  border: 1px solid rgba(160, 4, 4, 0.1);
}

/****** HERO ******/

.hero {
  background-image: url('../assets/images/home/bg-hero.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85dvh;
}

.hero__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: start;
}

.hero__container {
  max-width: 460px;
  width: 100%;
}

.hero__container__title {
  font-size: 42px;
  line-height: 1.4em;
  color: var(--cor-primary-white);
  font-weight: 300;
}

.hero__container__title > span {
  font-weight: 600;
  background-image: linear-gradient(to right, #e53939, #ffa8a7);
  -webkit-background-clip: text;
  color: transparent;
}

.hero__container__btn {
  max-width: 260px;
  width: 100%;
  display: block;
  text-align: center;
  color: var(--cor-primary-white);
  border-radius: 20px;
  font-size: 16px;
  padding: 16px 24px;
  font-weight: 600;
  background: linear-gradient(to right, #ffa8a7, #e53939);
  text-decoration: none;
  margin-top: 24px;
}

.hero__container__btn:hover {
  background: linear-gradient(to right, #e53939, #ffa8a7);
}


/****** SECTION ABAIXO DO HERO ******/

.vantagens {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vantagens__text {
  border-left: 5px solid var(--cor-primary-black);
  max-width: 300px;
  width: 100%;
  padding: 20px 0 20px 40px;
}

.vantagens__text > h4 {
  font-size: 18px;
  font-weight: 500;
}

.vantagens__text > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
}

.vantagens__cards {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

.vantagens__cards__card {
  max-width: 180px;
  width: 100%;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.vantagens__cards__card > img {
  max-width: 80px;
  width: 80px;
  display: block;
}

.vantagens__cards__card > h6 {
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 600;
  margin-bottom: 0;
}

/* SECAO SOBRE */

.sobre {
  background-image: linear-gradient(to bottom, #0b0b0b, #0b0b0b, #f5f5f5);
  padding-top: 80px;
}

.sobre__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  /* gap: 120px; */
}

.sobre__container > img {
  max-width: 580px;
  width: 100%;
}

.sobre__content {
  max-width: 460px;
  width: 100%;
  color: var(--cor-primary-white);
}

.sobre__content > h3 {
  font-size: 24px;
  font-weight: 100;
}

.sobre__content > h2 { 
  max-width: 430px;
  width: 100%;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 30px;
}

.sobre__content strong {
  font-weight: 700;
  color: var(--cor-primary-red);
}

.sobre__content p {
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
}

.sobre__btn {
  max-width: 260px;
  width: 100%;
  display: block;
  text-align: center;
  color: var(--cor-primary-white);
  border-radius: 20px;
  font-size: 16px;
  padding: 16px 24px;
  font-weight: 600;
  background: linear-gradient(to right, #ffa8a7, #e53939);
  text-decoration: none;
  margin-top: 24px;
}

.sobre__btn:hover {
  background: linear-gradient(to right, #e53939, #ffa8a7);
}

/* SECAO CARREIRAS */

.carreiras {
  background-color: rgba(229, 57, 57, 0.9);
  padding: 80px 0 300px 0;
}

.carreiras__container {
  color: var(--cor-primary-white);

}

.carreiras__container > h3 {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 8px;
}

.carreiras__container > h2 {
  font-size: 32px;
  font-weight: 300;
  max-width: 560px;
  width: 100%;
}

.carreiras__container strong {
  font-weight: 600;
}

.carreiras__container__cardlist {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.card__title {
  font-size: 24px;
  font-weight: 400;
  width: 80px;
}

.card__text {
  font-size: 12px;
  line-height: 1.4em;
  margin: 6px auto 20px auto;
}

.card__btn {
  font-size: 12px;
  font-weight: 400;
  padding: 8px 24px;
  background-color: transparent;
  color: var(--cor-primary-white);
  border: 1px solid var(--cor-primary-red);
  border-radius: 10px;
  text-decoration: none;
}

.card__btn:hover {
  background-color: var(--cor-primary-white);
  color: var(--cor-primary-red);
  border: 1px solid var(--cor-primary-white);
}

.cardlist__column--1 {
  max-width: 180px;
  width: 100%;
  height: 560px;
  background-image: url('../assets/images/home/card-carreiras-ui.webp');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
  text-align: center;
  border-radius: 8px;
}

.cardlist__column--2 {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 40px;
}

.card--front {
  width: 560px;
  height: 280px;
  padding: 24px;
  background-image: url('../assets/images/home/card-carreiras-front.webp');
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}

.card--back {
  width: 360px;
  height: 280px;
  padding: 24px;
  background-image: url('../assets/images/home/card-carreiras-back.webp');
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}

.card--qa {
  width: 260px;
  height: 240px; 
  padding: 24px;
  background-image: url('../assets/images/home/card-carreiras-qa.webp');
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}

.card--dados {
  width: 260px;
  height: 240px; 
  padding: 24px;
  background-image: url('../assets/images/home/card-carreiras-dados.webp');
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}

.card--devops {
  width: 360px;
  height: 240px;
  padding: 24px;
  background-image: url('../assets/images/home/card-carreiras-devops.webp');
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}

.card--front > .card__title,
.card--back > .card__title,
.card--qa > .card__title,
.card--dados > .card__title,
.card--devops > .card__title {
  width: 100%;
}

.card--front > .card__text,
.card--devops > .card__text, 
.card--dados > .card__text {
  margin-left: 0px;
  width: 230px;
}

.carreiras__container__cardlist--tablet {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card--tablet {
  max-width: 220px;
  width: 100%;
  height: 230px;
  background-image: url('../assets/images/home/card-carreiras-ui-tablet.webp');
  background-size: cover;
  background-position: center;
  padding: 24px;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
}

.card--tablet--front {
  background-image: url('../assets/images/home/card-carreiras-front-tablet.webp');
}

.card--tablet--back {
  background-image: url('../assets/images/home/card-carreiras-back-tablet.webp');
}

.card--tablet--qa {
  background-image: url('../assets/images/home/card-carreiras-qa-tablet.webp');
}

.card--tablet--dados {
  background-image: url('../assets/images/home/card-carreiras-dados-tablet.webp');
}

.card--tablet--devops {
  background-image: url('../assets/images/home/card-carreiras-devops-tablet.webp');
}

.card--tablet__title {
  font-size: 16px;
  font-weight: 400;
}

.card--tablet__content {
  font-size: 10px;
  line-height: 1.4em;
}

.card--tablet__btn {
  font-size: 10px;
  padding: 6px 10px;
  background-color: transparent;
  color: var(--cor-primary-white);
  border: 1px solid var(--cor-primary-red);
  border-radius: 4px;
  text-decoration: none;
}

/* ----------  section Depoimentos --------  */

#depoimentos {
  padding: 0 140px 0 140px;
}

#depoimentos img {
  position: relative;top: -60px;
  border-radius: 10px;
}

#depoimentos h2 {
  color: var(--cor-primary-red);
  font-size: 1.5rem;
  text-align: right;
  
}
#depoimentos h3 {
  font-size: 2rem;
  text-align: right;
  color: var(--cor-primary-black);
}

#depoimentos span {
  color: var(--cor-primary-red);
}

/* Testimonials */
.testimonials-content {
  position: relative;
  margin-left: -250px;
  top: 10px;
}

.testimonials-slider,
.swiper-wrapper  {
  width: 750px !important;
  height: 260px !important;
  }

.testimonials-slider {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-item {
  background: #F5F5F5;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4); 
}

.testimonials-item .info {
  display: flex;
  align-items: center;
}

.testimonials-item img{
  width: 80px;
  height: 80px;
  border-radius: 50% !important;
  margin: 60px 20px 0 0;
}

.testimonials-item .name {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  color:var(--cor-primary-red);
  position: relative;
  margin-bottom: 4px;
  top: -20px;
}

.text-box .job {
position: relative;
top: -20px;
color: #000000 !important;
}

.testimonials-item p {
  width: 300px;
  height: 100px;
  margin: 0 20px 20px 0px;
  color: var(--cor-primary-black);
  font-size: 16px;
}

/* MEDIAS QUERIES */

/* SECTION HERO ******/

@media (max-width:940px) {
  .hero h2 {
    font-size: 32px;
  }
}

/* SECTION SOBRE *******/


/* SECTION CARREIRAS */


/* section Depoimentos  */

@media (max-width: 1440px) {

  #depoimentos {
    padding: 0 220px 0 210px;
  }
  
  #depoimentos .col-md-4 {
    padding: 0!important;
    margin-left: 0px !important;
    height: 400px;
  }
  
   #depoimentos h2 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--cor-primary-red);
    margin: 30px 0 0 0;
  }

  #depoimentos h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
   }

  /* Testimonials */
  
  .testimonials-content {
   position: relative;
   margin-left: -140px;
   top: 44px;
  }
  
  .testimonials-slider,
  .swiper-wrapper {
    width: 650px !important;
    height: 266px !important;
    }
    
  .testimonials-item {
    background: #F5F5F5;
    height: 233px !important;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
    
    .testimonials-item .info {
      display: flex;
      align-items: center;
    }
    
    .testimonials-item img{
      width: 80px;
      height: 80px;
      border-radius: 50% !important;
      margin: 35px 14px 0 0;
      
    }
    .testimonials-item .name {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 600;
      color:var(--cor-primary-red);
      line-height: 1.2;
      position: relative;
      top: -27px;
      margin: 0px;
    }
    
    .text-box .job {
      position: relative;
      top: -30px;
      color: #000000 !important;
    }

    .testimonials-item p {
      width: 280px;
      height: 100px;
      margin: 0 20px 20px -10px;
      color: var(--cor-primary-black);
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      position: relative;
      top: -10px;
      line-height: 1.5;
    }
    
  }  

  @media (max-width: 1200px) {
    #depoimentos {
      padding: 0 100px 0 100px;
    }
    
    #depoimentos .col-md-4 {
      padding: 0!important;
      margin-left: 0px !important;
      height: 400px;
    }
    
     #depoimentos h2 {
      font-size: 1.1rem;
      color: var(--cor-primary-red);
    }
  
    #depoimentos h3 {
      font-size: 2rem;
      line-height: 1;
    }
  
    /* Testimonials */
    
    .testimonials-content {
      position: relative;
      margin-left: -140px;
      top: 30px;
    }
    
    .testimonials-slider,
    .swiper-wrapper {
      width: 650px !important;
      height: 226px !important;
    }
  
  
    .testimonials-item {
      background: #F5F5F5;
      height: 223px !important;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
      
    .testimonials-item .info {
      display: flex;
      align-items: center;
    }
    
    .testimonials-item img{
      width: 80px;
      height: 80px;
      border-radius: 50% !important;
      margin: 35px 14px 0 0;
      
    }
    .testimonials-item .name {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 600;
      color:var(--cor-primary-red);
      line-height: 1.2;
      position: relative;
      top: -27px;
      margin: 0px;
    }
    
    .text-box .job {
    position: relative;
    top: -30px;
    color: #000000 !important;
    }
      
    .testimonials-item p {
      width: 280px;
      height: 100px;
      margin: 0 20px 20px -10px;
      color: var(--cor-primary-black);
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      position: relative;
      top: -10px;
      line-height: 1.5;
    }
      
    }  
  

@media (max-width: 992px) {
  #depoimentos {
    padding: 0 100px 0 100px;
  }
  
#depoimentos .col-md-4 {
  padding: 0!important;
  margin-left: 0px !important;
  height: 400px;
}

 #depoimentos h2 {
  font-size: 1rem !important;
}

 #depoimentos h3 {
  font-size: 1.1rem !important;
}
/* Testimonials */

.testimonials-content {
  position: relative;
  margin-left: -110px;
  top: 0px;
}

.testimonials-slider,
.swiper-wrapper {
  width: 520px !important;
  height: 182px !important;
  }

  .testimonials-item {
    background: #F5F5F5;
    height: 180px !important;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    }
  
  .testimonials-item .info {
    display: flex;
    align-items: center;
  }
  
  .testimonials-item img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 60px 15px 0 -10px;

    }

  .testimonials-item .name {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color:var(--cor-primary-red);
    line-height: 1.2;
    position: relative;
    top: -20px;
    width: 110px;
  }

    .job {
    position: relative;
    top: -20px!important;
    color: #000000;
    font-size: 12px;
    }

  .testimonials-item p {
    width: 210px;
    height: 60px;
    margin: 0 10px 20px -10px;
    color: var(--cor-primary-black);
    font-size: 12px;
    position: relative;
    top: -15px;
  }
  
}

@media (max-width: 768px) {

/* section Depoimentos  */

#depoimentos {
  padding: 0 60px 0 20px !important;
}

#depoimentos .col-md-4 {
padding: 0!important;
margin-left: 0px !important;
height: 200px;
}

#depoimentos h2 {
  font-size: .7rem !important;
  line-height: 1rem;
}

 #depoimentos h3 {
  font-size: .9rem !important;
  line-height: 1.2;
}

/* Testimonials */

.testimonials-content {
 position: relative;
 margin-left: -100px;
 top: 0px;
}

.testimonials-slider,
.swiper-wrapper {
  width: 480px !important;
  height: 157px !important;
  }

  .testimonials-item {
    background: #F5F5F5;
    height: 155px !important;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    }
  
  .testimonials-item .info {
    display: flex;
    align-items: center;
  }
  
  .testimonials-item img{
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    margin: 40px 14px 0 -10px;
    }

  .testimonials-item .name {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color:var(--cor-primary-red);
    line-height: 1.2;
    position: relative;
    top: -30px;
    }

  .text-box .job {
    position: relative;
    top: -35px !important;
    color: #000000 !important;
  }

  .testimonials-item p {
    width: 208px;
    margin: 0 20px 20px -20px;
    color: var(--cor-primary-black);
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  /* section Depoimentos  */

  #depoimentos {
    padding: 0 140px 0 140px;
  }

  #depoimentos .col-md-8 {
    display: none;
    }

  #depoimentos .col-md-4 {
    width: 600px !important;
    height: 600px;
  }

  #depoimentos h2 {
    font-size: .8rem !important;
    margin-top: 20px;
    text-align: center;
  }

  #depoimentos h3 {
    font-size: 1.1rem !important;
    text-align: center;
  }

  /* Testimonials */
  .testimonials-content {
  margin: auto;
  }

  .testimonials-slider,
  .swiper-wrapper {
    width: 300px !important;
    height: 457px !important;
  }

  .testimonials-item {
    background: #F5F5F5;
    height: 208px!important;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
    
  .testimonials-item .info {
    display: flex;
    align-items: center;
  }
  
  .testimonials-item img {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    margin: 80px 14px 0 0px;
  }

  .testimonials-item .name {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color:var(--cor-primary-red);
    line-height: 1.2;
    position: relative;
    top: -14px;
  }

  .text-box .job {
    position: relative;
    top: -20px !important;
    color: #000000 !important;
  }

  .testimonials-item p {
    width: 250px;
    margin: 10px 0px 20px 0px;
    color: var(--cor-primary-black);
    font-size: 14px;
  }

}

  /* Perguntas Frequentes */

.faq {
  background-color: #ddd;
  background-image: url('../assets/images/home/bg-faq.png');
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 120px 0 500px 0;
  margin-bottom: 200px;
}

.faq > h3 {
  font-size: 24px;
  max-width: 440px;
  width: 100%;
  font-weight: 100;
  text-align: center;
  color: var(--cor-primary-red);
}

.faq > h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4em;
  text-align: center;
  max-width: 440px;
  width: 100%;
  margin-bottom: 60px;
}

.faq > h2 > strong {
  color: var(--cor-primary-red);
}

.custom-accordion {
  max-width: 960px;
  width: 100%;
  background-color: var(--cor-secondary-gray);
  padding: 40px;
  border-radius: 16px;
}

.custom-accordion__item,
.custom-accordion__item--first {
  border-bottom: 1px solid rgba(187,1,1,0.2);
  cursor: pointer;
}

.custom-accordion__item {
  padding: 30px 0 20px 0;
}

.custom-accordion__item--first {
  padding: 0 0 20px 0;
}

.custom-accordion__item__header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 0;
}

.custom-accordion__item__header > h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.custom-accordion__item__header__icon {
  color: var(--cor-primary-red);
}

.bi-chevron-down {
  color: var(--cor-primary-red);
}

.bi-chevron-up {
  color: rgba(229, 57, 57, 0.5)
}

.custom-accordion__item__body {
  max-width: 820px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 0;
}

.custom-accordion__item__body > p {
  margin-bottom: 0;
  margin: 10px 0 16px 0;
}

.custom-accordion__item__body > a {
  color: var(--cor-primary-red);
  font-weight: 700;
}

.custom-accordion__item__body > a:hover {
  color: var(--cor-primary-black);
}

@media (max-width: 640px) {

  .faq {
    padding: 120px 0 350px 0;
    margin-bottom: 100px;
  }

  .faq > h3 {
    font-size: 18px;
    max-width: 280px;
  }

  .faq > h2 {
    font-size: 24px;
    max-width: 280px;
  }

  .custom-accordion {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .custom-accordion__item__header > h4{
    font-size: 14px;
  }

  .custom-accordion__item__body {
    max-width: 440px;
  }

  .custom-accordion__item__body {
    font-size: 12px;
  }

  .custom-accordion {
    max-width: 580px;
  }
}

/* NOVOS ELEMENTOS - FOOTER */

.join-us {
  width: 100%;
  background-color: var(--cor-primary-black);
  position: relative;
  margin-bottom: -60px;
}

.join-us__bg {
  width: 100%;
  background-image: url('../assets/images/home/bg-newsletter.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 60px 40px;
}

.join-us__image {
  max-width: 380px;
  width: 100%;
  margin-top: -120px;
}

.join-us__content {
  max-width: 460px;
  width: 100%;
}

.join-us__content__title {
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 400;
}

.join-us__content__title > strong {
  color: var(--cor-primary-white);
}

.join-us__content__text {
  max-width: 360px;
  width: 100%;
  font-size: 16px;
  line-height: 1.4em;
  color: var(--cor-primary-white);
  margin: 16px 0 24px 0;
  font-weight: 400;
}

.join-us__content__buttons {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 30px;
}

.join-us__content__buttons__button {
  font-size: 18px;
  background-color: transparent;
  text-decoration: none;
  padding: 12px 24px;
  text-align: center;
  border: 1px solid var(--cor-primary-white);
  border-radius: 10px;
  color: var(--cor-primary-white);
  font-weight: 500;
}

.join-us__content__buttons__button:hover {
  background-color: var(--cor-primary-white);
  color: var(--cor-primary-red);
}

.join-us__content__buttons__button--secondary {
  background-color: var(--cor-primary-white);
  color: var(--cor-primary-black);
  border: 1px solid transparent;
}

.join-us__content__buttons__button--secondary:hover {
  background-color: var(--cor-primary-black);
  color: var(--cor-primary-white);
}

.footer {
  background-color: var(--cor-primary-white);
  padding-top: 50px;
  margin-top: -10px;
}

.footer--home {
  padding-top: 120px;
}

.footer__container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 40px;
  padding-bottom: 40px;
}

.footer__container__item {
  max-width: 260px;
  height: 210px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 0 0 0 16px;
}

.footer__container__item--border {
  border-left: 2px solid rgba(187, 1, 1, 0.2);
}

.footer__container__item > p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4em;
}

.footer__container__item > h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--cor-primary-red);
}

.footer__container__item__list {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.footer__container__item__list--icons {
  display: flex;
  align-items: start;
  justify-content: start;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  gap: 20px;
}

.footer__container__item__list--icons i {
  font-size: 24px;
}

.footer__container__item__list > li {
  margin-bottom: 12px;
}

.footer__container__item__list__link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: var(--cor-primary-black);
}

.footer__container__item__list__link:hover {
  color: var(--cor-primary-red);
}

.last-footer {
  padding: 30px 0;
  background-color: #101415;
  color: #fff;
}

.last-footer span {
  font-weight: 100;
  font-size: 16px;
}

.last-footer a {
  color: var(--cor-primary-red);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.last-footer a:hover {
  color: var(--cor-primary-white);
}

#carrerModal {
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}

@media (max-width: 640px) {
  .navbar-nav .nav-item {
    margin-bottom: 0;
  }

  .footer__container {
    display: grid;
    width:90%;
    grid-template-columns: 1fr 1fr;
  }

  .footer__container__item__list--icons i {
    font-size: 18px;
  }

  .hero__overlay {
    justify-content: center;
  }

  .hero__container {
    text-align: center;
  }

  .hero__container__btn {
    margin: 0 auto;
    margin-top: 24px;
  }

  .join-us__bg {
    flex-wrap: wrap;
    max-width: 360px;
    background-image: url('../assets/images/home/bg-newsletter.png');
  }

  .join-us__image {
    margin-top: -160px;
    max-width: 200px !important;
  }

  .join-us__content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
  }

  .join-us__content__title {
    margin-top: 12px;
    font-size: 18px !important;
  }

  .join-us__content__text {
    margin: 8px 0 16px 0;
  }
}

@media (max-width: 990px) {
  .navbar-collapse--home {
    background-color: var(--cor-input-placeholder);
    padding-bottom: 20px;
    border-radius: 8px;
  } 
}

@media (max-width: 1024px) {
  .logo-img {
    max-width: 60px;
    width: 100%;
  }

  .footer__container__item > h4 {
    font-size: 16px;
  }

  .join-us__image {
    max-width: 280px;
  }

  .join-us__content {
    max-width: 320px;
  }

  .join-us__bg {
    padding: 40px 0;
    justify-content: space-around;
  }

  .join-us__content__title {
    max-width: 240px;
    font-size: 22px;
  }

  .join-us__content__text {
    font-size: 10px;
    max-width: 220px;
  }

  .join-us__content__buttons {
    gap: 16px;
  }

  .join-us__content__buttons__button {
    font-size: 10px;
    padding: 10px;
  }
}

/* SOBRE MEDIAS */
@media (max-width: 640px) {
  .sobre__container {
    flex-wrap: wrap-reverse;
    gap: 24px;
  }

  .sobre__container,
  .sobre__container > img {
    width: 80%;
    text-align: center;
  }

  .sobre__content > h3 {
    font-size: 16px;
  }

  .sobre__content > h2 {
    font-size: 24px;
  }

  .sobre__content > p {
    font-size: 12px;
  }

  .sobre__btn {
    margin: 0 auto;
  }
}

/* VANTAGENS */
@media (max-width: 640px) {
  .vantagens {
    padding: 40px 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .vantagens__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .vantagens__cards__card {
    max-width: 140px;
  }

  .vantagens__text {
    width: 80%;
  }

  .vantagens__text > h4,
  .vantagens__text > p {
    font-size: 18px;
  }

  .vantagens__cards__card > h6 {
    font-size: 18px;
  }

  .sobre__btn {
    font-size: 12px;
    padding: 8px 0;
    max-width: 180px;
  }
}

/* VANTAGENS */
@media (min-width: 641px) and (max-width: 1024px) {
  .vantagens {
    padding: 40px 0;
    justify-content: center;
    gap: 20px;
  }  

  .vantagens__text {
    max-width: 200px;
    padding: 8px 0 8px 20px;
  }

  .vantagens__text > h4,
  .vantagens__text > p {
    font-size: 12px;
  }

  .vantagens__cards {
    gap: 20px;
  }

  .vantagens__cards__card {
    max-width: 100px;
    padding: 20px;
  }

  .vantagens__cards__card > h6 {
    font-size: 12px;
  }
}

/* VANTAGENS */
@media (min-width: 1025px) and (max-width: 1440px) {
  .vantagens {
    justify-content: center;
    gap: 20px;
  } 
}

/* SOBRE */
@media (min-width: 641px) and (max-width: 1160px) {
  .sobre__container {
    gap: 60px;
    align-items: end;
    justify-content: center;
  }

  .sobre__container > img {
    max-width: 340px;
  }

  .sobre__content > h3 {
    font-size: 16px;
  }
  
  .sobre__content > h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .sobre__content > p {
    font-size: 10px;
    margin-bottom: 14px;
  }

  .sobre__btn {
    margin-top: 0;
    margin-bottom: 28px;
    padding: 8px 0px;
    max-width: 180px;
    font-size: 12px;
  }
}

/* CARRREIRAS */

@media (max-width: 640px) {
  .carreiras {
    padding: 60px 0 60px 0;
  }

  .carreiras__container > h3 {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
  }

  .carreiras__container > h2 {
    font-size: 24px;
    line-height: 1.4em;
    text-align: center;
  }

  .carreiras__container__cardlist--tablet {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .card--tablet {
    margin: 0 auto;
    justify-content: end;
    align-items: center;
    text-align: center;
  }
}

/* CARREIRAS */
@media (min-width: 641px) and (max-width: 1159px) {
  .carreiras {
    padding: 80px 0 140px 0;
  }
}

@media (min-width: 1400px) {
  .carreiras__container__cardlist--tablet {
    display: none;
  }
}

@media (max-width: 1400px) {
  .carreiras__container__cardlist {
    display: none;
  }
}

