:root {
  --cor-primary-black: #000000;
  --cor-primary-red: #E53939;
  --cor-primary-white: #FFFFFF;
  --cor-secondary-gray: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

/* header */

.container-header {
  display: flex;
  margin: 0 144px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header ul {
  display: flex;
  font-weight: 600;
  gap: 16px;
}

#inicio button {
  border-radius: 10px;
}

#container-nav .navbar-nav .nav-link:hover {
  color: #ffa8a7 !important;
}

.btn-white {
  background-color: #f2f2f2;
  border: none;
  height: 100%;
  padding: 6px 16px;
  color: #e53939;
  transition: background 0.5s;
  font-weight: 500;
}

.btn-white:hover {
  background: #ffa8a7;
}

.btn-black {
  background-color: black;
  border: none;
  height: 100%;
  padding: 6px 16px;
  color: #f2f2f2;
  transition: background 0.4s;
  font-weight: 500;
}

.btn-black:hover {
  background: #e53939;
}

/* hero */

#container-hero {
  position: relative;
  background-image: url(../assets/images/home/bg-hero.jpg);
  height: 720px;
}

#container-hero span {
  font-weight: 600;
  background-image: linear-gradient(to right, #e53939, #ffa8a7);
  -webkit-background-clip: text;
  color: transparent;
}

#container-hero h3 {
  margin-top: 145px;
  margin-left: 144px;
  color: #f2f2f2;
  width: 460px;
  height: 168px;
  font-size: 42px;
  font-weight: 100;
}

.btn-saiba-mais {
  background: linear-gradient(to right, #ffa8a7, #e53939);
  border: none;
  border-radius: 20px;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 600;
  width: 260px;
  padding: 12px 24px;
  margin-left: 144px;
}

.btn-saiba-mais:hover {
  background: linear-gradient(to right, #e53939, #ffa8a7);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/home/bg-hero.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

/* header */

.container-header {
  display: flex;
  margin: 0 144px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header ul {
  display: flex;
  font-weight: 600;
  gap: 16px;
}

#inicio button {
  border-radius: 10px;
}

#container-nav .navbar-nav .nav-link:hover {
  color: #ffa8a7 !important;
}

.btn-white {
  background-color: #f2f2f2;
  border: none;
  height: 100%;
  padding: 6px 16px;
  color: #e53939;
  transition: background 0.5s;
  font-weight: 500;
}

.btn-white:hover {
  background: #ffa8a7;
}

.btn-black {
  background-color: black;
  border: none;
  height: 100%;
  padding: 6px 16px;
  color: #f2f2f2;
  transition: background 0.4s;
  font-weight: 500;
}

.btn-black:hover {
  background: #e53939;
}

/* hero */

#container-hero {
  position: relative;
  background-image: url(../assets/images/home/bg-hero.jpg);
  height: 720px;
}

#container-hero span {
  font-weight: 600;
  background-image: linear-gradient(to right, #e53939, #ffa8a7);
  color: transparent;
}

#container-hero h3 {
  margin-top: 145px;
  margin-left: 144px;
  color: #f2f2f2;
  width: 460px;
  height: 168px;
  font-size: 42px;
  font-weight: 100;
}

.btn-saiba-mais {
  background: linear-gradient(to right, #ffa8a7, #e53939);
  border: none;
  border-radius: 20px;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 600;
  width: 260px;
  padding: 12px 24px;
  margin-left: 144px;
}

.btn-saiba-mais:hover {
  background: linear-gradient(to right, #e53939, #ffa8a7);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/bg-hero.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

/* Termo Voluntário */

.nav-term {
  position: relative;
  background: linear-gradient(
    279.98deg,
    #e53939 0%,
    #b22c2c 48.66%,
    #7f2020 100%
  );
  width: auto;
  height: 260px;
  margin-top: 0;
  margin-left: 0;
}

.termo-voluntario {
  position: relative;
  background-color: #d9d9d9;
  width: 800px;
  height: 990px;
  padding: 20px;
  margin-top: -118px;
  margin-left: 570px;
}

#modal {
  width: 400px;
  height: 700px;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: modalAnimation;
  animation-duration: 500ms;
  text-align: center;
  overflow: scroll;
}

@keyframes modalAnimation {
  from {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.voltar {
  width: 50px;
  height: 18px;
  top: 60px;
  left: 163px;
  gap: 0px;
  opacity: 0px;
  color: aliceblue;
  text-decoration: none;
}

.input {
  width: 640px;
  height: 40px;
  border-radius: 8px;
  padding: 5px;
}
