:root {
    --cor-primary-black: #000000;
    --cor-primary-red: #E53939;
    --cor-primary-white: #FFFFFF;
    --cor-secondary-gray: #f5f5f5;
    --cor-border-horizontal-footer: rgb(187, 1, 1, 0.20);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
  
  /* equipe */


  /* forms-mentoria|voluntario */



  /* termos mentoria|voluntario */

  /* Termo Voluntário */

.nav-term {
    position: relative;
    background: linear-gradient(
      279.98deg,
      #e53939 0%,
      #b22c2c 48.66%,
      #7f2020 100%
    );
    width: auto;
    height: 260px;
    margin-top: 0;
    margin-left: 0;
  }
  
  .termo-voluntario {
    position: relative;
    background-color: #d9d9d9;
    width: 800px;
    height: 990px;
    padding: 20px;
    margin-top: -118px;
    margin-left: 570px;
  }
  
  #modal {
    width: 400px;
    height: 700px;
    background-color: #d9d9d9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: modalAnimation;
    animation-duration: 500ms;
    text-align: center;
    overflow: scroll;
  }
  
  @keyframes modalAnimation {
    from {
      opacity: 1;
    }
    from {
      opacity: 0;
    }
  }
  
  .voltar {
    width: 50px;
    height: 18px;
    top: 60px;
    left: 163px;
    gap: 0px;
    opacity: 0px;
    color: aliceblue;
    text-decoration: none;
  }
  
  .input {
    width: 640px;
    height: 40px;
    border-radius: 8px;
    padding: 5px;
  }