:root {
    --cor-primary-black: #000000;
    --cor-primary-red: #E53939;
    --cor-primary-white: #FFFFFF;
    --cor-secondary-gray: #f5f5f5;
    --cor-border-horizontal-footer: rgb(187, 1, 1, 0.20);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
  
  /* equipe */


  /* forms-mentoria | voluntario */
  
   .form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 60px 0px 60px;
    
    }

  .input {
    width: 640px;
    height: 40px;
    border-radius: 8px;
    padding: 5px;
    margin: 7px 40px 22px 0px;
  }
 

  /* termos mentoria | voluntario */

  
.nav-term {
    position: relative;
    background: linear-gradient(
      279.98deg,
      #e53939 0%,
      #b22c2c 48.66%,
      #7f2020 100%
    );
    max-width: 100%;
    height: 260px;
    align-content: baseline;
    }
 
  .termo-voluntario {
    position: relative;
    background-color: #d9d9d9;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 60px 0 0;
    z-index: 1;
    top: -118px;
    }

  .termo-voluntario h1 {
    font-size: 24px;
    padding: 60px 0 0 60px;
  }

  .termo-voluntario h2 {
    max-width: 500px;
    font-size: 18px;
    line-height: 22px;
    margin: 8px 0 0 60px;
  }

  .termo-voluntario i {
    width: 28px;
    height: 28px;
    color: #010D00;
    margin: 52px 5px 5px -7px;
  }

  .termo-voluntario p {
    font-size: 18px;
    line-height: 22px;
   }

   .linha {
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: #010D00;
    top: 190px;
    }

    .information,
    .regras,
    .lgpd {
    max-width: 650px;
    }

  .termo-voluntario .information h3,
  .lgpd {
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0 20px 60px;
  }
  
  .termo-voluntario .information p {
    font-size: 18px;
    margin: 8px 0 0 60px;
    max-width: 700px;
  }

  .regras h3 {
    margin: 30px 0 0 60px;
    font-size: 22px;
  }

  .regras ul {
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0 0 30px;
    list-style: none;
  }

  .regras ul i {
    margin: 0px 8px 0 0px;
  }
  
  .lgpd h3 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
  }

  .lgpd p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    max-width: 700px;
  }
  
  .lgpd button {
    display: block;    
    margin: 30px auto;
    padding: 12px 24px;
    background-color: var(--cor-primary-red);
    font-size: 18px;
  }
    
  .voltar {
    margin: 0px;
    color: rgb(242, 242, 242);
    text-decoration: none;
    position: relative;
    top: 60px;
    left: 136px;
    
   }

    /* modal mentoria | voluntario */

   .modal-header {
   border: 0px;
    }

   .modal-title {
   margin: 30px 0 0 30px;
   }

   .modal-body {
    max-width: 440px;
    height: 584px;
    margin: auto;
   }

   .modal-body h5 {
    margin-top: 12px;
    font-size: 15px;
   }

   .modal-body p {
    margin-top: 16px;
    font-size: 12px;
    text-align: justify;
    line-height: 22px;
   }

   .toggle {
        display: flex;
        align-items: center;
       
      }
   .toggle input {
      width: 16px;
      height: 16px;
   }

   .nomeToogle {
    font-size: 16px!important;
    padding: 2px;
    max-width: 269px;
      
   }

   .modal-footer {
    border: 0px;
    position: relative;
    right: 30px;

   }
.modal-footer button {
    max-width: 106px;
    height: 36px;
     }
  /*
   #modal {
    max-width: 400px;
    height: 700px;
    background-color: #b30909;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: modalAnimation;
    animation-duration: 500ms;
    text-align: center;
    overflow: scroll;
   }

    @keyframes modalAnimation {
    from {
      opacity: 1;
    }
    from {
      opacity: 0;
    }
  } */

  .profile-image-control {
      max-width: 180px;
      width: 100%;
      border-radius: 50%;
    }

     /* responsividade modal mentoria | voluntario */

     @media (max-width: 450px) {
      html, h1, h2, h3, h4, h5, h6, p, ul, li {
          font-size: 95%!important;
         
      }

     .lgpd h3 {
      font-size: 62%!important;
     }

     .lgpd p {
      font-size: 62%!important;
     }

      .linha {
        width: 25%;
        top: 175px;
    }

    .lgpd button {
      padding: 10px 18px;
      font-size: 12px;
    }

  }
  @media (max-width: 377px) {
    .linha {
      width: 23%;
      top: 200px;
  
    }

    .lgpd button {
      padding: 10px 18px;
      font-size: 10px;
    }
    
  }